/*section {
	position: relative;
	width: 960px;
}

#sidebar {
	position: relative;
	float: left;
	width: 202px;
}

#main {
	float: left;
}

.sectionTitle {
	float: left;
	border-bottom: 1px #e5e5e5 solid;
}

.sectionOther {
	float: right;
}

.sectionContent {
	float: left;
}*/


/* Accordion styles */

.sectionTitle h3,
.sectionContent ul li h4 {
	cursor: pointer;
}

.sectionContent ul {
	list-style: none;
}

.sectionPanel .ui-accordion-header {
	font-size: 15px;
}

.sectionContent ul .ui-accordion-header {
	font-size: 14px;
}

.ui-accordion-content {
	font-size: 14px;
	font-family: Arial, sans-serif;
}


/* Mail item header styles */

/*.sender {

}

.subject {

}

.date {

}*/

.unread h4 span {
	color: blue;
}

.read h4 span {
	font-weight: normal;
}
