section {
	position: relative;
	width: 960px;
}

#sidebar {
	position: relative;
	float: left;
	width: 202px;
	/*position: absolute;
	left: 0;*/
}

#main {
	float: left;
	/*position: absolute;
	left: 20%;*/
}


/*.container {
	width: 80%;
}*/

/*.sectionHeader {
	position: relative;
	margin-bottom: 10px;
	width: 768px;
	overflow: auto;
}*/

/*.sectionHeader {
	float: left;
}*/

.sectionTitle {
	float: left;
	border-bottom: 1px #e5e5e5 solid;
}

.sectionOther {
	float: right;
}

.sectionContent {
	float: left;
}