/*section {
	position: relative;
	width: 960px;
}

#sidebar {
	position: relative;
	float: left;
	width: 202px;
}

#main {
	float: left;
}

.sectionTitle {
	float: left;
	border-bottom: 1px #e5e5e5 solid;
}

.sectionOther {
	float: right;
}

.sectionContent {
	float: left;
}*/